.login-block{
    float:left;
    padding : 50px 0;
    min-height: 105vh;
    width: 105%;
    position: absolute;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  
  .container{background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(25px); border-radius: 10px; width: 40%; height: 40%;}
  .login-sec{padding: 50px 30px; position:relative;}
  .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0069c0;}
  .login-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
  .btn-login{background: #0069c0; color:#fff; font-weight:600;}